<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
</head>
<body>

    <h1>EVENT LIST</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Organiser</th>
    </tr>
    <tr th:each="event : ${events}">
        <td th:text="${event.id}">123</td>
        <td th:text="${event.title}">Spring in action</td>
        <td th:text="${event.organiser.username}">Wrox</td>
    </tr>
</table>

</body>
</html>