<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Host</title>
    <link href="https://fonts.googleapis.com/css?family=Revalia&display=swap" rel="stylesheet" />

    <link href="css/host.css" rel="stylesheet" />
    <link href="css/discover.css" rel="stylesheet"/>
    <link href="css/main.css" rel="stylesheet" />
    <link href="css/footer.css" rel="stylesheet" />
    <link href="/css/navbar.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class= "row">
    <div id="main">
        <div id="bckgpic">
        </div>
        <div class="footer">
            <div class="fbLogo"></div>
            <div class="igLogo"></div>
            <div class="gpLogo"></div>
            <div class="twitterLogo"></div>
        </div>
    </div>
    <div class="col-sm-3"></div>
    <div class="col-sm-6 justify-content-right">
        <div id="hostBox">
                <form th:action="@{/saveChanges}" th:object="${user}" method="post">
                    <div id="home" class="tab-pane fade in active">
                        <div>
                            <label for="username">Username (Changing requires a relog)</label><br>
                            <input type="text" id="username" th:field="*{username}" name="username" th:value="${user.username}"><br>
                            <label for="shortDesc">Short Description</label><br>
                            <textarea rows = "3" cols = "25" id="shortDesc" name="shortDesc" th:field="*{shortDesc}" th:value="${user.shortDesc}"></textarea><br>
                            <label for="type">Favourite Quote</label><br>
                            <input type="text" id="type" name="type" th:field="*{favQuote}" th:value="${user.favQuote}"><br>

                            <label for="country">Country</label><br>
                            <input type="text" id="country" name="country" th:field="*{country}" th:value="${user.country}"><br>
                            <label for="occupation">Occupation</label><br>
                            <input type="text" id="occupation" name="country" th:field="*{occupation}" th:value="${user.occupation}"><br>
                            <label for="favArtist">Favourite artist</label><br>
                            <input type="text" id="favArtist" name="favArtist" th:field="*{favArtist}" th:value="${user.favArtist}"><br>
                            <label for="anthem">Favourite song</label><br>
                            <input type="text" id="anthem" name="anthem" th:field="*{anthem}" th:value="${user.anthem}"><br>
                            <label for="hobby">Hobby</label><br>
                            <input type="text" id="hobby" name="hobby" th:field="*{hobby}" th:value="${user.hobby}"><br>

                            <input  type="hidden" name="trueUsername" id="trueUsername" th:value="${#httpServletRequest.remoteUser}">
                            <button type="submit" class="btn btn-primary btn-block" id="hostButton" >Save Changes</button>
                        </div>
                    </div>
                </form>
        </div>
    </div>
</div>
<div class="col-sm-3"></div>
</div>


<div class="topBar">
    <div class="row"></div>
    <div class="row">
        <div class="col-sm-6">
            <div class="col-sm-3"></div>
            <div class="col-sm-3">
                <a th:href="@{/}"><span class="Zerilla">Zerilla</span></a>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
        <div class="col-sm-6">
            <div  class="col-sm-1">
                <a th:href="@{/}"><span class="home">Home</span></a>
            </div>
            <div class="col-sm-1"></div>
            <div  class="col-sm-1">
                <a th:href="@{/events}"><span class="discover">Discover</span></a>
            </div>
            <div class="col-sm-1"></div>
            <div  class="col-sm-3">
                <span th:if="${#httpServletRequest.remoteUser}"><span><form th:action="@{/my_profile}" method="post"><button type="submit" id="profileButton" class="btn btn-primary btn-block" th:value="'Hello '+ ${#httpServletRequest.remoteUser}">Hello [[${#httpServletRequest.remoteUser}]]!</button><input type="hidden" th:value="${#httpServletRequest.remoteUser}"></form></span></span>
                <span th:if="${#httpServletRequest.remoteUser} == null"><a th:href="@{/login}"><span class="login"><span class="glyphicon glyphicon-log-in"></span> Login</span></a></span>
            </div>
            <div class="col-sm-1"></div>
            <div  class="col-sm-3">
                <span th:if="${#httpServletRequest.remoteUser}"><span><form th:action="@{/logout}" method="post"><button type="submit" class="btn btn-primary btn-block" value="Sign Out" id="logoutButton">Sign out</button></form></span></span>
                <span th:if="${#httpServletRequest.remoteUser} == null"><a th:href="@{/register}"><span class="register"><span class="glyphicon glyphicon-user"></span> Register</span></a></span>
            </div>
            <div class="col-sm-1"></div>

        </div>
    </div>
</div>

</body>
</html>
