<!DOCTYPE html >
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<link href="https://fonts.googleapis.com/css?family=Revalia&display=swap" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/css/main.css}"  />
	<link rel="stylesheet" th:href="@{/css/footer.css}"/>
	<link rel="stylesheet" th:href="@{/css/navbar.css}" />

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Zerilla</title>
</head>
<body>



<div class="main">
	<div class="discoverPic">
		<span class="discoverTitle">Looking for a party?</span>
		<span class="discoverText">Find a public party in your local area</span>
		<a th:href="@{/events}"><div class="discoverButton">
		<span class="discoverButtonText">DISCOVER</span>
		</div></a>
	</div>

	<div class="hostPic">
		<span class="hostTitle">Hosting a party?</span>
		<span class="hostText">Create a public or private event and invite people</span>
		<a th:href="@{/host}"><div class="hostButton">
			<span class="hostButtonText">HOST</span>
		</div>
		</a>
	</div>
	
	<div class="managePic">
		<span class="manageTitle">Manage your events</span>
		<span class="manageText">Make your events public, invite people,party like there’s no tommorow</span>
		<a th:href="@{/my_profile}"><div class="getStartedButton">
			><span class="getStartedButtonText">GET STARTED</span>
		</div>
		</a>
	</div>


	<div class="footer">
		<div class="fbLogo"></div>
		<div class="igLogo"></div>
		<div class="gpLogo"></div>
		<div class="twitterLogo"></div>
	</div>


	<div class="topBar">
		<div class="row"></div>
		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-3"></div>
				<div class="col-sm-3">
					<a th:href="@{/}"><span class="Zerilla">Zerilla</span></a>
				</div>
				<div class="col-sm-6">

				</div>
			</div>
			<div class="col-sm-6">
				<div  class="col-sm-1">
					<a th:href="@{/}"><span class="home">Home</span></a>
				</div>
				<div class="col-sm-1"></div>
				<div  class="col-sm-1">
					<a th:href="@{/events}"><span class="discover">Discover</span></a>
				</div>
				<div class="col-sm-1"></div>
				<div  class="col-sm-3">
					<span th:if="${#httpServletRequest.remoteUser}"><span><form th:action="@{/my_profile}" method="post"><button type="submit" id="profileButton" class="btn btn-primary btn-block" th:value="'Hello '+ ${#httpServletRequest.remoteUser}">Hello [[${#httpServletRequest.remoteUser}]]!</button><input type="hidden" th:value="${#httpServletRequest.remoteUser}"></form></span></span>
					<span th:if="${#httpServletRequest.remoteUser} == null"><a th:href="@{/login}"><span class="login"><span class="glyphicon glyphicon-log-in"></span> Login</span></a></span>
				</div>
				<div class="col-sm-1"></div>
				<div  class="col-sm-3">
					<span th:if="${#httpServletRequest.remoteUser}"><span><form th:action="@{/logout}" method="post"><button type="submit" class="btn btn-primary btn-block" value="Sign Out" id="logoutButton">Sign out</button></form></span></span>
					<span th:if="${#httpServletRequest.remoteUser} == null"><a th:href="@{/register}"><span class="register"><span class="glyphicon glyphicon-user"></span> Register</span></a></span>
				</div>
				<div class="col-sm-1"></div>

			</div>
		</div>
	</div>

</div>
</body>
</html>