<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>navbar</title>
</head>
<body>
<div class="topBar">
    <div th:if="${#httpServletRequest.remoteUser}">
        <span class="login"><form th:action="@{/my_profile}" method="post"><button type="submit" id="profileButton" class="btn btn-primary btn-block" th:value="'Hello '+ ${#httpServletRequest.remoteUser}"></button><input type="hidden" th:value="${#httpServletRequest.remoteUser}"></form></span>
        <span class="register"><form th:action="@{/logout}" method="post"><button type="submit" value="Sign Out" class="btn btn-primary btn-block" id="logoutButton"></button></form></span>
    </div>
    <hidden th:if="${#httpServletRequest.remoteUser == null}">
        <a th:href="@{/login}"><span class="login"><span class="glyphicon glyphicon-log-in"></span> Login</span></a>
        <a th:href="@{/register}"><span class="register"><span class="glyphicon glyphicon-user"></span> Register</span></a>
    </hidden>
    <a th:href="@{/events}"><span class="discover">Discover</span></a>
    <a th:href="@{/}"><span class="home">Home</span></a>
    <a th:href="@{/}"><span class="Zerilla">Zerilla</span></a>
</div>
</body>
</html>